<form action="{{url "User.PostLogin"}}"  id="user-login" method="POST" class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Email Address</label>
    <div class="controls">
      <input type="text" name="Email" placeholder="email address" value="{{.flash.Email}}" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Password</label>
    <div class="controls">
      <input type="password" name="Password" placeholder="password" />
    </div>
  </div>

  <div class="form-actions">
    <input type="submit" value="Login" class="btn btn-primary"/>
  </div>
</form>
