<form action="{{.action}}"  id="user-register" method="POST" class="form-horizontal">
  {{with $field := field "user.Id" .}}
    <input type="hidden" id="{{$field.Id}}" name="{{$field.Name}}" value="{{$field.Value.Hex}}" />
  {{end}}

  {{with $field := field "user.Firstname" .}}
    <div class="control-group">
    <label class="control-label" for="{{$field.Id}}">First Name</label>
    <div class="controls">
      <input type="text" id="{{$field.Id}}" name="{{$field.Name}}" placeholder="firstname" value="{{or $field.Flash $field.Value}}"/>
      <span class="help-inline error">{{$field.Error}}</span>

    </div>
  </div>
  {{end}}

  {{with $field := field "user.Lastname" .}}
    <div class="control-group">
    <label class="control-label" for="{{$field.Id}}">Last Name</label>
    <div class="controls">
      <input type="text" id="{{$field.Id}}" name="{{$field.Name}}" placeholder="lastname" value="{{or $field.Flash $field.Value}}"/>
      <span class="help-inline error">{{$field.Error}}</span>

    </div>
  </div>
  {{end}}

  {{with $field := field "user.Email" .}}
    <div class="control-group">
    <label class="control-label" for="{{$field.Id}}">Email</label>
    <div class="controls">
      <input type="text" id="{{$field.Id}}" name="{{$field.Name}}" placeholder="email" value="{{or $field.Flash $field.Value}}"/>
      <span class="help-inline error">{{$field.Error}}</span>

    </div>
  </div>
  {{end}}

  {{with $field := field "password.Pass" .}}
    <div class="control-group">
    <label class="control-label" for="{{$field.Id}}">Password</label>
    <div class="controls">
      <input type="password" id="{{$field.Id}}" name="{{$field.Name}}" placeholder="password" value=""/>
      <span class="help-inline error">{{$field.Error}}</span>

    </div>
  </div>
  {{end}}

  {{with $field := field "password.PassConfirm" .}}
    <div class="control-group">
    <label class="control-label" for="{{$field.Id}}">Password Confirm</label>
    <div class="controls">
      <input type="password" id="{{$field.Id}}" name="{{$field.Name}}" placeholder="password" value=""/>
      <span class="help-inline error">{{$field.Error}}</span>

    </div>
  </div>
  {{end}}

  <div class="form-actions">
    <input type="submit" value="Save" class="btn btn-primary"/>
  </div>
</form>
