{{set . "title" "Login"}}
{{template "header.html" .}}

<h1>Login</h1>

<form action="{{url "User.Login"}}"  id="user-login" method="POST">
  <p class="field">
    <label>Email Address:</label>
    <input type="text" name="Email" placeholder="email address" value="{{.flash.email}}" />
  </p>
  <p class="field">
    <label>Password:</label>
    <input type="password" name="Password" placeholder="password" />
  </p>
  <p class="buttons">
    <input type="submit" value="Login" />
  </p>
</form>

{{template "footer.html" .}}
