{{set . "title" .article.Title}}
{{template "header.html" .}}

<h1>{{.article.Title}}</h1>
<span id="edit-links" class="btn-group">
  <script>
    // Loads the action links for this user. Allows this page to be cached the
    // same for all users.
    $('#edit-links').load('/blog/{{.article.Id.Hex}}/links');
  </script>
</div>
<span class="label date">{{.article.Posted}}</span>
<span class="label author">By:</span> {{index .article.Meta "author"}}</span>
<span class="label tags">Tags:</span>
{{ range $value := .article.Tags}}<span class="label secondary">{{$value}}</span> {{end}}
<p>{{index .article.Meta "markdown"}}</p>

{{template "footer.html" .}}
