<!DOCTYPE html>
<html>
  <head>
    <title>Bloggo {{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <script src="/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div id="header">
      {{template "navbar.html" .}}
    </div>
    <div id="content">
      {{template "messages.html" .}}
    <h1>{{.title}}</h1>

