<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/app.css">
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
    <div id="header">
      <h1><a href="{{url "Application.Index"}}">bloggo weblogging platform</a></h1>
      {{if .user}}
        <div id="options">
          Connected as {{.user.Firstname}} {{.user.Lastname}}
          |
          <a href="{{url "User.Logout"}}" class="btn btn-secondary">Logout</a>
        </div>
      {{else}}
        <div id="options">
          <a href="{{url "User.LoginForm"}}">Login</a>
          |
          <a href="{{url "User.RegisterForm"}}">Register</a>
        </div>
      {{end}}
    </div>

    <div id="content">
      {{if .flash.error}}
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">×</a>
          {{.flash.error}}
        </div>
      {{end}}
      {{if .flash.success}}
        <div class="alert alert-success">
          <a class="close" data-dismiss="alert">×</a>
          {{.flash.success}}
        </div>
      {{end}}
