<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
  <a class="brand" href="{{url "Application.Index"}}" {{if eq .Controller.Type "Application.Index"}}class="active"{{end}}>Bloggo</a>
  <ul class="nav">
      <li><a href="{{url "Application.Index"}}">Home</a></li>
  </ul>
  <ul class="nav pull-right">
    {{if .user}}
      <li><a href="{{url "User.Index"}}">{{.user.Firstname}} {{.user.Lastname}}</a></li>
      <li><a href="{{url "User.Logout"}}">Logout</a></li>
    {{else}}
      <li><a href="{{url "User.LoginForm"}}">Login</a></li>
      <li class="divider-vertical"></li>
      <li><a href="{{url "User.RegisterForm"}}">Register</a></li>
    {{end}}
  </ul>
</div>
