<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
  <a class="brand" href="{{url "Application.Index"}}" {{if eq .Controller.Type "Application.Index"}}class="active"{{end}}><i class="icon-home icon-white"></i> Bloggo</a>
  <ul id="nav-left" class="nav">
    <script>
      $('#nav-left').load('/Application/NavLeft');
    </script>
  </ul>
  <ul id="nav-right" class="nav pull-right">
    <script>
      $('#nav-right').load('/Application/NavRight');
    </script>
  </ul>
</div>
</div>
